.container {
    display: flex;
    flex-direction: row;

}

.phrase-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: whitesmoke;
}

.button-container {
    display: flex;
    flex-direction: column;
}