div {
    color: papayawhip;
}


.track-container {
    /* position: absolute; */
    /* left: 10rem; */
    margin: auto;
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    /* overflow: auto; */
}

.card {
    color: papayawhip;

}